<!-- Angular Material -->

<md-card *ngIf="true">
    <md-card-title>{{name}}</md-card-title>
    <md-card-subtitle>{{totalObjectsString()}}</md-card-subtitle>
    <button md-button (click)="onOpenClick()" color="primary">OPEN</button>
    <button md-button (click)="onDeleteClick()">DELETE</button>
</md-card>

<!-- Polymer Elements -->

<paper-card *ngIf="false" heading={{name}} style='width: 100%'>
    <div class='card-content'>{{totalObjectsString()}}</div>
    <div class='card-actions'>
        <paper-button (click)="onOpenClick()">Open</paper-button>
        <paper-button (click)="onDeleteClick()">Delete</paper-button>
    </div>
</paper-card>
