.version.index /* version checker */
{
	color: #00001D;
	background-color: #FF9D20;
}

#page
{
	margin-right: auto;
	margin-left: auto;
	border-width: 0px;
	background-color: transparent;
	width: 100%;
	border-color: #000000;
	background-image: none;
	z-index: 1;
}

#u4292
{
	border-color: transparent;
	z-index: 4;
	background-color: transparent;
	margin-left: 50%;
	position: relative;
	border-width: 0px;
	margin-right: -10000px;
}

#u2063
{
	-pie-box-shadow: none;
	box-shadow: 8px 8px 6px rgba(0,0,0,0.5);
	filter: alpha(opacity=84);
	background-color: #084AB8;
	margin-left: 50%;
	position: relative;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=84)";
	z-index: 5;
	border-radius: 10px 10px 0px 0px ;
	opacity: 0.84;
}

#u2066-8
{
	vertical-align: top;
	display: block;
	z-index: 6;
	margin-left: 0%;
	position: relative;
	margin-right: -10000px;
}

#u3431-4
{
	vertical-align: top;
	display: block;
	z-index: 17;
	margin-left: 0%;
	position: relative;
	margin-right: -10000px;
}

#pu2063,#pu2057-3
{
	width: 100%;
	margin-left: 0%;
}

#u2057-3
{
	border-style: solid;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	filter: alpha(opacity=80);
	margin-left: 50%;
	position: relative;
	border-color: #7F7F7F;
	margin-right: -10000px;
	border-radius: 0px 0px 10px 10px ;
	text-align: center;
	-pie-box-shadow: none;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	background-color: #3E3E3E;
	color: #FFFFFF;
	opacity: 0.8;
	line-height: 4px;
	z-index: 14;
	border-width: 1px 0px 0px;
}

#u3435-4
{
	vertical-align: top;
	display: block;
	z-index: 21;
	margin-left: 0%;
	position: relative;
	margin-right: -10000px;
}

#u3462
{
	margin-left: 50%;
	z-index: 2;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.html
{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #000000;
	background-position: left center;
	background-size: cover;
}

body
{
	padding-bottom: 43px;
	position: relative;
}

@media (min-width: 1431px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 635px;
		padding-bottom: 246px;
	}

	#u4292
	{
		width: 569px;
		padding-bottom: 0px;
		margin-top: 114px;
		left: -480px;
	}

	#u2063
	{
		width: 569px;
		height: 407px;
		left: -285px;
	}

	#u2066-8
	{
		margin-top: 59px;
		left: 57px;
	}

	#u3431-4
	{
		margin-top: 255px;
		left: 464px;
	}

	#u2057-3
	{
		width: 569px;
		min-height: 113px;
		left: -285px;
	}

	#u3435-4
	{
		margin-top: 34px;
		left: 44px;
	}

	#u3462
	{
		width: 941px;
		margin-top: 314px;
		left: 173px;
	}

	#u3462_img
	{
		padding-right: 17px;
		padding-bottom: 12px;
	}

	.html
	{
		background-image: url("../images/hipa%20marc%20lamey%207479b.jpg");
	}

}

@media (min-width: 963px) and (max-width: 1430px)
{
	#muse_css_mq
	{
		background-color: #000596;
	}

	#bp_1430.active
	{
		display: block;
	}

	#page
	{
		min-height: 506px;
		padding-bottom: 122px;
		max-width: 1430px;
	}

	#u4292
	{
		width: 420px;
		margin-top: 138px;
		left: -371px;
	}

	#u2063
	{
		width: 420px;
		height: 288px;
		left: -210px;
	}

	#u2066-8
	{
		margin-top: 33px;
		left: 42px;
	}

	#u3431-4
	{
		margin-top: 185px;
		left: 338px;
	}

	#u2057-3
	{
		width: 420px;
		min-height: 80px;
		left: -210px;
	}

	#u3435-4
	{
		margin-top: 23px;
		left: 0px;
	}

	#u3462
	{
		width: 664px;
		margin-top: 280px;
		left: 85px;
	}

	#u3462_img
	{
		padding-right: 12px;
		padding-bottom: 8px;
	}

	.html
	{
		background-image: url("../images/hipa%20marc%20lamey%207479b.jpg");
	}

}

@media (min-width: 481px) and (max-width: 962px)
{
	#muse_css_mq
	{
		background-color: #0003c2;
	}

	#bp_962.active
	{
		display: block;
	}

	#page
	{
		min-height: 377px;
		padding-bottom: 106px;
		max-width: 962px;
	}

	#u4292
	{
		width: 332px;
		padding-bottom: 0px;
		margin-top: 106px;
		left: -293px;
	}

	#u2063
	{
		width: 332px;
		height: 211px;
		left: -166px;
	}

	#u2066-8
	{
		margin-top: 31px;
		left: 32px;
	}

	#u3431-4
	{
		margin-top: 135px;
		left: 269px;
	}

	#u2057-3
	{
		width: 332px;
		min-height: 58px;
		left: -166px;
	}

	#u3435-4
	{
		margin-top: 15px;
		left: 0px;
	}

	#u3462
	{
		width: 473px;
		margin-top: 215px;
		left: 75px;
	}

	#u3462_img
	{
		padding-right: 8px;
		padding-bottom: 6px;
	}

	.html
	{
		background-image: url("../images/hipa%20marc%20lamey%207479b.jpg");
	}

}

@media (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 377px;
		padding-bottom: 106px;
		max-width: 480px;
	}

	#u4292
	{
		width: 332px;
		padding-bottom: 0px;
		margin-top: 106px;
		left: -293px;
	}

	#u2063
	{
		width: 332px;
		height: 211px;
		left: -166px;
	}

	#u2066-8
	{
		margin-top: 31px;
		left: 32px;
	}

	#u3431-4
	{
		margin-top: 135px;
		left: 269px;
	}

	#u2057-3
	{
		width: 332px;
		min-height: 58px;
		left: -166px;
	}

	#u3435-4
	{
		margin-top: 15px;
		left: 0px;
	}

	#u3462
	{
		width: 473px;
		margin-top: 215px;
		left: 75px;
	}

	#u3462_img
	{
		padding-right: 8px;
		padding-bottom: 6px;
	}

	.html
	{
		background-image: url("../images/hipa%20marc%20lamey%207479b960x759.jpg");
	}

	body
	{
		min-width: 320px;
	}

}

