	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 635px;
		padding-bottom: 246px;
	}

	#u4292
	{
		width: 569px;
		padding-bottom: 0px;
		margin-top: 114px;
		left: -480px;
	}

	#u2063
	{
		width: 569px;
		height: 407px;
		left: -285px;
	}

	#u2066-8
	{
		margin-top: 59px;
		left: 57px;
	}

	#u3431-4
	{
		margin-top: 255px;
		left: 464px;
	}

	#u2057-3
	{
		width: 569px;
		min-height: 113px;
		left: -285px;
	}

	#u3435-4
	{
		margin-top: 34px;
		left: 44px;
	}

	#u3462
	{
		width: 941px;
		margin-top: 314px;
		left: 173px;
	}

	#u3462_img
	{
		padding-right: 17px;
		padding-bottom: 12px;
	}

	.html
	{
		background-image: url("../images/hipa%20marc%20lamey%207479b.jpg");
	}


