<header role="banner" class="flex flex--middle">
    <div class="viewport">
    <h1 class="weight--normal">
        <ge-svg-logo class="u-mr--"></ge-svg-logo> Angular 2 + Polymer Seed Application
    </h1>
    <h2 class="weight--normal float--right">
        Powered by Predix
    </h2>
    </div>
</header>

<div class="viewport">
    <div class="content-wrapper">
        <main class="u-pt-- u-pr-- u-pl--" role="main">
            <!-- Routed views go here -->
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
